# --- Python & Environment ---
venv/
__pycache__/
*.pyc

# --- Logs & Test History ---
# We use .jsonl (JSON Lines), so we ignore the whole folder to be safe
logs/
*.log
*.json
*.jsonl

# --- Testing & Coverage ---
.pytest_cache/
.coverage
.cache/
htmlcov/

# --- System & Accidental Files ---
.DS_Store
'\'
